// 颜色定义规范
$color-background = rgba(255, 255, 255, 1) // 基础背景色
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333333
$color-dialog-background = #666666
$color-theme = rgba(0 ,0, 0, 1)
$color-lineheight = rgba(0 ,0, 0, 0)
$main-bgcolor = #F7F7F7 // 主背景色
$background-cover = rgba(0, 0, 0, 0.42) // 背景遮罩
$spin-color = rgba(239, 239, 239, 0.3)
$color-text = rgba(255, 255, 255, 1) // 字体颜色
$color-lgtext = #f7eded // 登陆字体颜色
$color-nodata = rgba(133, 145, 176, 1)
$main-textcolor = #292c31 // 主字体颜色
$color-text4 = #323C5A
$color-time = #8591B0
$main-basecolor = #00CA9D // 主基础色
$color-text7 = #444444
$color-text8 = #333333
$color-text9 = #4D5977
$color-text10 = #5C6782
$color-text11 = #95A0BA
$color-text12 = #69738C
$color-text13 = #35383d
$color-text14 = #E85E72
$color-text15 = #B0B0B0
$color-text16 = rgba(229, 115, 115, 1)
$closeIcon = #9F9F9F
$waring-color = #f00
$input-color = #999
$selcect-color = rgba(42, 45, 50, 1)
$background-color = linear-gradient(-270deg, rgba(41, 44, 49, 0.5) 0%, rgba(45, 48, 53, 0.6) 100%)
$background-maincolor = linear-gradient(0deg, #74E7BF 100%, #3ACCA8 100%)
$background-color3 = rgba(45, 48, 53, 0.6)
$background-color4 = rgba(204, 204, 204, 1)
$background-color5 = linear-gradient(#eef1f6, #fcfdfd)
$error-color = #ed3f14
$color-border = #787474
$color-border2 = #00ca9d
$color-border3 = #eeeeee
$box-shadow1 = -2px -2px 32px 0 rgba(58,204,168,0.3)
$box-shadow2 = 0 10px 20px 10px rgba(210,224,233,0.2)
$box-shadow3 = 0 2px 4px 0 rgba(0,0,0,0.15)
$box-shadow4 = #ccc
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 24px
